/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 13, 2017, 9:27:40 PM
    Author     : dr
*/

body{
    background-color: #663300;
     
}
p{
    font-family: Arial, sans-serif; 
    
}
h1,h6{
    font-family: initial; 
}
table{
    font-family: arial, helvetica, sans-serif;
    background-color: blanchedalmond;
}

